header{
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  align-items: center;
}

header .logo{
  width: 160px;
  height: 90%;
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 20px;
}
